In [90]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.datasets import load_wine

data=load_wine()

In [91]:
dir(data)

['DESCR', 'data', 'feature_names', 'target', 'target_names']

In [92]:
df=pd.DataFrame(data.data, columns=data.feature_names)
df.head(3)

   alcohol  malic_acid   ash  ...   hue  od280/od315_of_diluted_wines  proline
0    14.23        1.71  2.43  ...  1.04                          3.92   1065.0
1    13.20        1.78  2.14  ...  1.05                          3.40   1050.0
2    13.16        2.36  2.67  ...  1.03                          3.17   1185.0

[3 rows x 13 columns]

In [93]:
df['target']=data.target
df.head(3)

   alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  target
0    14.23        1.71  2.43  ...                          3.92   1065.0       0
1    13.20        1.78  2.14  ...                          3.40   1050.0       0
2    13.16        2.36  2.67  ...                          3.17   1185.0       0

[3 rows x 14 columns]

In [94]:
data.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

In [95]:
x=df.drop(['target'], axis='columns')
x.head(2)

   alcohol  malic_acid   ash  ...   hue  od280/od315_of_diluted_wines  proline
0    14.23        1.71  2.43  ...  1.04                          3.92   1065.0
1    13.20        1.78  2.14  ...  1.05                          3.40   1050.0

[2 rows x 13 columns]

In [96]:
y=df.target
y.head(3)

0    0
1    0
2    0
Name: target, dtype: int64

In [97]:
from sklearn.model_selection import train_test_split
xt,xtest,yt,ytest=train_test_split(x,y, test_size=.2)
len(xtest)

36

In [98]:
from sklearn.svm import SVC
model=SVC(gamma='auto', C=5, max_iter=1000, kernel='linear')
model.fit(xt,yt)

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:231: ConvergenceWarning: Solver terminated early (max_iter=1000).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  % self.max_iter, ConvergenceWarning)

SVC(C=5, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
    max_iter=1000, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [99]:
model.score(xtest,ytest)

0.9722222222222222

In [100]:
model.predict(xtest)

array([0, 0, 2, 0, 2, 2, 0, 2, 1, 1, 1, 1, 1, 2, 1, 1, 2, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 0, 2, 1, 1, 0, 1, 0, 1, 1])

In [101]:
model.predict([[13.17,	5.19,	2.32,	22.0,	93.0,	1.74,	0.63,	0.61,	1.55,	7.90,	0.600,	1.48,	725.0]])

array([2])